:root {
    color-scheme: light dark;
    --bg-color: #ffffff;
    --text-color: #000000;
    --font-family: Poppins, Helvetica, sans-serif;
    --title-color: #3452eb;
    font-family: var(--font-family);
    --gradient-color-1: rgb(255, 74, 74);
    --gradient-color-2: rgb(99, 99, 255);
    --rounded-corners: 0.25rem;
    --card-color: #fff3d8;
    --visited-purple: #551a8b;
}

[data-theme="dark"] {
    --bg-color: #1a1a1a;
    --text-color: #f5f5f5;
    --title-color: #3b82f6;
    --gradient-color-1: red;
    --gradient-color-2: blue;
    --card-color: #393734;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.heading {
    color: var(--title-color);
    font-variant: small-caps;
    letter-spacing: 0.025em;
    font-size: 2rem;
}

#color-theme {
    padding: 0px 1rem;
    background-image: linear-gradient(
        0.25turn,
        var(--gradient-color-1),
        50%,
        var(--gradient-color-2)
    );
    font: inherit;
    border: none;
    border-radius: var(--rounded-corners);
    transition: transform 0.2s ease-in-out;
}

#color-theme:hover {
    transform: scale(1.1);
}

.work-history {
    margin: 1rem;
}

.work-history-header {
    font-size: 1.5rem;
    background-image: linear-gradient(
        0.25turn,
        var(--gradient-color-1),
        15%,
        var(--gradient-color-2)
    );
    color: transparent;
    background-clip: text;
}

.work-history ol {
    margin-left: 2rem;
}

ol > li {
    margin-bottom: 1rem;
}

ul > li {
    margin-left: 1rem;
    margin-top: 0.25rem;
    padding-left: 0.25rem;
}

ol li ul li::marker {
    content: "👉 ";
}

.me {
    overflow: hidden;
    margin: 1em;
}

.aidan-photo {
    float: left;
    width: 25%;
    margin-right: 1em;
}

.right-col {
    float: left;
    text-align: left;
}

.contact-form label {
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--text-color);
    border-radius: var(--rounded-corners);
    background-color: inherit;
}

.contact-form textarea {
    resize: none;
    min-height: 100px;
}

.contact-form button {
    padding: 0.75rem 1rem;
    background-image: linear-gradient(
        0.25turn,
        var(--gradient-color-1),
        35%,
        var(--gradient-color-2)
    );
    border: none;
    border-radius: var(--rounded-corners);
    font: inherit;
}

.professional-interests {
    width: 100%;
    padding: 1rem;
}

.professional-interests h2 {
    margin-bottom: 1.5rem;
}

.cards-container {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.card {
    flex: 1;
    background-color: var(--card-color);
    border-radius: var(--rounded-corners);
    padding: 1.5rem;
    min-height: 6rem;
    box-shadow: 0 0.12rem 0.33rem rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 1rem;
}

.projects {
    margin: 1rem;
}

.project-cards {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.bruin-ai {
    grid-column: span 2;
    grid-row: span 2;
}

.project-card ol {
    counter-reset: item;
    padding-left: 0;
}

.project-card ol > li {
    display: block;
    margin-bottom: 1.5em;
    font-weight: 600;
}

.project-card ol > li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: var(--primary-blue);
    font-weight: 700;
}

.project-card ul {
    list-style: none;
    padding-left: 1.5em;
    margin-top: 0.5em;
}

.project-card ul li {
    position: relative;
    margin-bottom: 0.5em;
    font-weight: normal;
}

a[href*="https"] {
    text-decoration: none;
    color: inherit;
}

a[href*="https"]:visited {
    color: var(--visited-purple);
}

a[href*="https"]:hover {
    color: var(--gradient-color-1);
}

::selection {
    color: var(--bg-color);
    background: var(--text-color);
}

@media (max-width: 800px) {
    .aidan-photo {
        width: 50%;
    }

    .cards-container {
        flex-direction: column;
    }

    .project-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }

    .aidan-photo {
        width: 100%;
    }
}
